@import 'theme/media.scss';

.wrap {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  margin-top: 120px;

  @include _768 {
    margin-bottom: 120px;
    margin-top: 60px;
  }

  @include _600 {
    margin-bottom: 60px;
    margin-top: 32px;
  }
}

.article {
  width: 100%;
  display: flex;

  @include _1440 {
    flex-direction: row;
  }

  @include _768 {
    flex-direction: column;
  }

  @include _600 {
    align-items: center;
  }
}

.articleText {
  width: auto;
  padding: 50px 0 0 50px;
  margin-right: 45px;
  margin-bottom: 32px;

  @include _1440 {
    padding: 50px 0 0 150px;
  }

  @include _992 {
    padding: 50px 0 0 85px;
  }

  @include _768 {
    padding: 50px 0 0 5%;
  }

  @include _600 {
    padding: 50px 0 0 0px;
    margin-right: 0;
    padding: 0 5%;
  }
}
.title {
  margin-bottom: 24px;
}
.description {
  width: 70%;
}
.arrowGroupBtn {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  padding-top: 24px;
}

.arrowBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: var(--gray);
  transition: ease-in-out 0.2s;

  & + & {
    margin-left: 15px;
  }
}

.arrowBtn {
  cursor: pointer;

  &:active {
    background: var(--primary-100);
    box-shadow: 0 10px 15px rgba(98, 202, 187, 0.5);
  }
}

.arrowIcon {
  position: relative;
  width: 15px;
  height: 10px;
}

.arrowRight {
  transform: rotate(180deg);
}

.cardGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  @include _1140 {
    justify-content: flex-start;
  }

  @include _992 {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.card {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 30px;
  padding: 15px 0;

  @include _768 {
    margin-right: 0px;
    width: 90%;
    margin: 0 auto;
  }
}

.cardName {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.cardArticle {
  height: max-content;
  padding: 40px 30px 30px 30px;
  border: 1px solid #eaeaea;
  border-radius: 20px;
}

.cardArticleReply {
  width: auto;
  height: max-content;
  padding: 30px;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  position: relative;
  margin-top: 30px;
  margin-right: auto;
  margin-left: 30px;
}

.cardArticleReply {
  &:before {
    content: '';
    width: 1px;
    height: 65px;
    position: absolute;
    top: -10px;
    left: -25px;
    background: #eaeaea;
  }

  &:after {
    content: '';
    width: 15px;
    height: 1px;
    position: absolute;
    top: 55px;
    left: -25px;
    background: #eaeaea;
  }
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  position: relative;
}

.yogaIcon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ebebeb url('/images/main-page/logo-primary.png') no-repeat 50% 50%;
  background-size: 20px 30px;
}
