@import 'theme/media.scss';

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article {
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 1em;
  @include _1440 {
    width: 992px;
    padding: 32px 0;
  }
  @include _992 {
    width: 100%;
    flex-direction: column;
  }
  @include _600 {
    align-items: center;
    padding: 16px 12px;
    margin-top: 16px;
  }
}
.articleReverse {
  flex-direction: row-reverse;
  justify-content: space-between;
  @include _992 {
    flex-direction: column;
  }
}
.articleText {
  width: 500px;
  @include _992 {
    width: 450px;
    margin-top: 25px;
    text-align: center;
  }
  @include _600 {
    width: 350px;
    text-align: left;
  }
}
.textLeft {
  padding-left: 100px;
  @include _992 {
    padding-left: 0px;
  }
}
.textRight {
  padding-left: 100px;
  @include _992 {
    padding-left: 0px;
  }
}
.articleTitle {
  width: 100%;
  margin-bottom: 24px;
  @include _600 {
    width: 320px;
    margin-bottom: 12px;
  }
}
.articleImg {
  position: relative;
  width: 450px;
  height: 300px;
  @include _992 {
    width: 450px;
    height: 300px;
  }
  @include _600 {
    width: 350px;
    height: 230px;
  }
}

.subTitle {
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @include _992 {
    width: 100%;
    justify-content: center;
  }
  @include _600 {
    width: 250px;
    justify-content: left;
  }
}
.titleImg {
  position: relative;
  width: 130px;
  height: 38px;
  margin-left: 13px;
  @include _768 {
    width: 130px;
    height: 30px;
  }
  @include _600 {
    margin-left: 3px;
  }
}
.devices {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  @include _600 {
    margin-top: 30px;
  }
}
.devicesTitle {
  width: 450px;
  text-align: center;
  margin-bottom: 32px;
  @include _600 {
    width: 330px;
  }
}
.devicesDwnldBtn {
  width: 450px;
  height: 38px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  @include _992 {
    margin-bottom: 30px;
  }
  @include _768 {
    margin-bottom: 0;
  }
  @include _600 {
    width: 330px;
  }
}
.groupDownloads {
  width: auto;
  height: auto;
  left: 300px;
  bottom: 60px;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 4;
}

.downloadBtn {
  cursor: pointer;
  width: 128px;
  height: 38px;
  position: relative;
  margin: 0 5px;
}
.navigation {
  width: 1200px;
  display: flex;
  flex-direction: row;
  padding: 0 1em;
  justify-content: flex-start;
  @include _1440 {
    width: 992px;
    padding: 0;
  }
  @include _1140 {
    width: 992px;
    padding: 0;
  }
  @include _992 {
    width: 80%;
    justify-content: flex-start;
  }
  @include _768 {
    width: 100%;
    justify-content: center;
  }
  @include _600 {
    width: 100%;
    padding: 0 1em;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.navigationLink {
  display: flex;
  flex-direction: row;
  width: max-content;
  padding: 8px 24px;
  border: 2px solid rgba(39, 44, 40, 0.2);
  border-radius: 8px;
  margin-right: 12px;
  color: var(--gray);
  @include _768 {
    margin: 0 0 12px 0;
    margin-right: 6px;
    p {
      font-size: 14px;
    }
  }
}
.active {
  border-color: var(--primary-100);
  background-color: var(--primary-100);
  color: var(--white);
}
@media screen and (min-width: 375px) and (max-width: 390px) {
  .navigationLink {
    margin-right: 4px;
    padding: 8px 6px;
    p {
      font-size: 12px;
    }
  }
}
