@import 'theme/media.scss';

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.headTitle {
  padding: 32px 0 60px 0;
  text-align: center;
}
.groupCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  width: 255px;
  height: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  position: relative;
  @include _600 {
    width: 343px;
    height: 445px;
  }
}
.cardImage {
  position: relative;
  width: 255px;
  height: 175px;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 25px;
  @include _600 {
    width: 343px;
    height: 225px;
  }
}
.cardTitle {
  text-align: center;
  z-index: 2;
  margin: 16px 0 8px 0;
}

.cardDescription {
  width: 240px;
  min-height: 60px;
  text-align: center;
  color: var(--main-page-under);
  z-index: 2;
  @include _600 {
    min-height: auto;
  }
}
.cardBtn {
  cursor: pointer;
  color: var(--white);
  border: none;
  background-color: var(--primary-100);
  letter-spacing: 1px;
  padding: 20px 30px;
  border-radius: 30px;
  margin-top: 8px;
  margin-bottom: 20px;
  z-index: 2;
  a {
    color: var(--white);
  }
  @include _600 {
    letter-spacing: 0;
    p {
      font-size: 16px;
    }
  }
}
.cardBg {
  width: 183px;
  height: 200px;
  position: absolute;
  bottom: 0;
  background-color: var(--main-page-background);
  border-radius: 0 0 100% 100%;
  z-index: 1;
  @include _600 {
    width: 250px;
    height: 220px;
  }
}
