@import 'theme/media.scss';

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.article {
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  padding: 0;
  @include _1440 {
    width: 80%;
    padding: 32px 1em;
  }
  @include _992 {
    flex-direction: column;
    padding: 0px 1em;
  }
  @include _600 {
    width: 100%;
    align-items: center;
  }
}
.articlePartners {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partnersText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  text-align: center;
  @include _600 {
    width: 375px;
    margin: 0 auto;
    margin-top: 32px;
    padding: 0 1em;
  }
}
.partnersTitle {
  width: 70%;
  text-align: center;
  @include _1140 {
    width: 100%;
  }
}
.partnersDescription {
  width: 70%;
  text-align: center;
  margin: 20px 0 20px 0;
  @include _1140 {
    width: 100%;
  }
}
.partners {
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0;
  @include _1140 {
    width: 100%;
  }
  @include _600 {
    width: 375px;
  }
}
.partnersImg {
  background-color: var(--disable);
  border-radius: 12px;
  padding: 15px 15px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.partnersLogo {
  position: relative;
  width: 120px;
  height: 38px;
}
