@import 'theme/media.scss';

.wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: none;
  @include _1140 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @include _992 {
    flex-direction: column;
  }
  @include _600 {
    width: 100%;
  }
}

.article {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  padding: 50px 0;
  @include _1140 {
    justify-content: center;
    align-items: center;
  }
  @include _992 {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  @include _600 {
    width: 343px;
  }
}

.articleImg {
  position: relative;
  width: 700px;
  height: 500px;
  margin-right: 64px;
  @include _1140 {
    width: 650px;
    height: 380px;
    margin-right: 32px;
  }
  @include _992 {
    width: 600px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 0;
  }
  @include _600 {
    width: 330px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    margin-right: 0;
  }
}
.articleText {
  padding: 32px 0;
}
.articleTitle {
  width: 400px;
  @include _992 {
    text-align: center;
  }
  @include _600 {
    width: 330px;
    text-align: center;
  }
}
.articlePositive {
  display: flex;
  flex-direction: column;
  align-items: left;
  @include _992 {
    flex-direction: column;
    align-items: center;
  }
}
.articleDescription {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  background: var(--primary-20);
  border-radius: 8px;
  margin: 10px 0;
}
.descriptionImg {
  width: 30px;
  height: 30px;
  position: relative;
}
