@import 'theme/media.scss';

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article {
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 1em;
  @include _1440 {
    width: 992px;
  }
  @include _992 {
    width: 100%;
    flex-direction: column;
    padding: 0 1em;
  }
  @include _600 {
    align-items: center;
  }
}

.articleText {
  width: 500px;
  @include _992 {
    width: 500px;
    margin-top: 25px;
    text-align: center;
  }
  @include _600 {
    width: 340px;
    text-align: left;
  }
}
.articleTitle {
  width: 500px;
  margin-bottom: 24px;
  @include _600 {
    width: 320px;
  }
}
.articleImg {
  position: relative;
  width: 500px;
  height: 300px;
  @include _992 {
    height: 400px;
    margin: 30px 0;
  }
  @include _600 {
    width: 360px;
    height: 300px;
  }
}
.imageIphoneLeft {
  position: absolute;
  width: 250px;
  height: 360px;
  z-index: 1;
  left: 10px;
  top: -70px;
  @include _992 {
    top: 20px;
  }
  @include _600 {
    width: 170px;
    height: 250px;
  }
}
.imageIphoneRight {
  position: absolute;
  width: 250px;
  height: 360px;
  z-index: 1;
  left: 240px;
  top: -70px;
  @include _992 {
    top: 20px;
  }
  @include _600 {
    width: 170px;
    height: 250px;
    left: 180px;
  }
}
.imageIphoneCenter {
  position: absolute;
  width: 180px;
  height: 360px;
  z-index: 2;
  left: 160px;
  top: -70px;
  @include _992 {
    top: 20px;
  }
  @include _600 {
    width: 125px;
    height: 250px;
    left: 120px;
  }
}
.circleShadow {
  position: absolute;
  width: 500px;
  height: 10px;
  bottom: 0px;
  border-radius: 100%;
  background-color: var(--gray);
  box-shadow: 0px 0px 10px 15px var(--gray);
  @include _600 {
    display: none;
  }
}
.articleCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0;
  @include _1140 {
    justify-content: center;
    margin: 30px 20px;
  }
  @include _600 {
    margin: 30px 0;
  }
}

.card {
  width: 343px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 30px 60px -20px rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 20px 15px;
  @include _600 {
    width: 343px;
    box-shadow: 0px 30px 60px -10px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
  }
}

.cardTitle {
  width: auto;
  padding: 0 30px;
  text-align: center;
  margin: 30px 0 25px 0;
}

.projectImage {
  position: relative;
  width: 140px;
  height: 60px;
  margin-bottom: 28px;
}

.cardImage {
  width: 343px;
  height: 240px;
  position: relative;
  border-radius: 0 0 25px 25px;
  overflow: hidden;
  @include _600 {
    height: 240px;
  }
}

.cardBtn {
  cursor: pointer;
  color: var(--white);
  padding: 16px 125px;
  border-radius: 25px;
  position: absolute;
  bottom: 25px;
  z-index: 3;
  @include _600 {
    padding: 16px 100px;
    bottom: 15px;
  }
}
.groupDownloads {
  width: auto;
  height: auto;
  left: 300px;
  bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: block;
  z-index: 4;
  @include _1440 {
    left: 200px;
    bottom: 40px;
  }
  @include _1140 {
    left: 180px;
    bottom: 40px;
  }
  @include _992 {
    left: 170px;
    bottom: 20px;
  }
  @include _600 {
    left: 50px;
    bottom: 40px;
  }
}

.downloadBtn {
  cursor: pointer;
  margin: 0 5px;
}

.relax {
  background: #567df4;
}

.mama {
  background: var(--mama-primary);
}

.yoga {
  background: var(--primary-100);
}
