@import 'theme/media.scss';

.wrap {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  width: 1110px;
  height: 430px;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  margin-bottom: 80px;

  @include _1140 {
    width: 900px;
    height: 400px;
  }
  @include _992 {
    width: 768px;
    height: 350px;
  }
  @include _768 {
    width: 600px;
    height: 300px;
    margin-bottom: 80px;
  }
  @include _600 {
    width: 343px;
    height: 200px;
    margin-bottom: 40px;
  }
}

.image {
  width: 1110px;
  height: 430px;
  position: relative;
  z-index: 2;
  filter: brightness(60%);

  img {
    object-fit: cover;
  }
  @include _1140 {
    width: 900px;
    height: 400px;
  }
  @include _992 {
    width: 768px;
    height: 350px;
  }
  @include _768 {
    width: 600px;
    height: 300px;
  }
  @include _600 {
    width: 343px;
    height: 200px;
  }
}

.description {
  width: 550px;
  height: 180px;
  position: absolute;
  top: 125px;
  right: 50px;
  z-index: 3;
  color: var(--white);
  @include _1140 {
    width: 450px;
    height: 180px;
    top: 150px;
  }
  @include _992 {
    width: 400px;
    top: 120px;
  }
  @include _768 {
    width: 300px;
    top: 90px;
  }
  @include _600 {
    width: 230px;
    top: 70px;
    right: 10px;
  }
}

.descriptionText {
  @include _1140 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
  @include _992 {
    font-size: 28px !important;
    line-height: 34px !important;
  }
  @include _768 {
    font-size: 20px !important;
    line-height: 34px !important;
  }
  @include _600 {
    font-size: 18px !important;
    line-height: 18px !important;
  }
}

.descriptionBg {
  width: max-content;
  background: var(--dark);
  border-radius: 5px;
  padding: 10px;
}
