@import 'theme/media.scss';

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article {
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  margin-bottom: 32px;
  @include _1440 {
    width: 100%;
    padding: 32px 1em;
  }
  @include _992 {
    flex-direction: column;
    padding: 0px 0;
  }
  @include _600 {
    width: 100%;
    align-items: center;
  }
}
.artileLeft {
  margin-right: 20px;
  @include _1440 {
    margin-right: 0;
  }
  @include _1140 {
    margin-right: 0;
    margin-bottom: 30px;
  }
  @include _600 {
    margin-bottom: 0px;
  }
}
.artileLeft,
.articleRight {
  width: 48%;
  @include _1440 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.articleText {
  padding: 0 1em;
  margin-bottom: 90px;
  @include _1440 {
    width: 992px;
    padding: 0;
  }
  @include _992 {
    width: 80%;
  }
  @include _768 {
    width: 580px;
  }
  @include _600 {
    width: 375px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}
.articleTitle {
  margin: 32px 0 70px 0;
  @include _600 {
    width: 340px;
    margin: 32px 0 22px 0;
  }
}
.articleSubTitle {
  margin-bottom: 30px;
  @include _600 {
    margin-bottom: 22px;
  }
}
.articleTextImg {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em;
  @include _1440 {
    width: 600px;
    padding: 0;
    padding-left: 32px;
    margin-bottom: 32px;
  }
  @include _1140 {
    justify-content: space-between;
    padding: 0;
    padding-left: 32px;
  }
  @include _600 {
    width: 375px;
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
  }
}
.textImg {
  position: relative;
  width: 250px;
  height: 290px;
  border-radius: 16px;
  overflow: hidden;
  @include _600 {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
.articleImgSmall {
  position: relative;
  width: 260px;
  height: 200px;
}
.articleImgMedium {
  position: relative;
  width: 260px;
  height: 330px;
}
.articleImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 32px;
  @include _1440 {
    width: 600px;
    padding: 0;
    padding-left: 32px;
  }
  @include _600 {
    width: 375px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
  }
}
.articleImgHigh {
  position: relative;
  width: auto;
  height: 200px;
  @include _1440 {
    width: 568px;
    padding: 0;
    padding-left: 32px;
  }
  @include _600 {
    display: none;
  }
}
.marginTop {
  margin-top: 20px;
  padding-left: 32px;
}
.articleImgLeft {
  margin-right: 20px;
  @include _600 {
    margin: 0;
    margin-bottom: 20px;
  }
}
.articleImgLeft,
.articleImgRight {
  display: flex;
  flex-direction: column;
}
