@import 'theme/media.scss';

.wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include _1140 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @include _992 {
    flex-direction: column;
  }
  @include _600 {
    width: 100%;
  }
}

.article {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  position: relative;
  padding: 90px 0;
  @include _1440 {
    width: 100%;
  }
  @include _992 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include _600 {
    width: 343px;
  }
}

.articleTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.title {
  margin-right: 15px;
  padding-left: 32px;
}
.articleCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 32px;
  @include _1440 {
    width: 100%;
    justify-content: space-around;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 60px -15px rgba(0, 0, 0, 0.3);
  margin-top: 32px;
}
.cardsTitle {
  background: #f8f8f8;
  width: 100%;
  text-align: center;
  padding: 40px 0;
}
.cardsMonth {
  width: 240px;
  padding: 20px 0px;
  text-align: center;
  border-bottom: 2px solid #f8f8f8;
  position: relative;
  margin-top: 0 auto;
}
.monthSale {
  width: max-content;
  position: absolute;
  right: -55px;
  top: 16px;
  padding: 4px 10px;
  border-radius: 8px 0 0 8px;
  background: var(--color-red);
}
.cardsCost {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px 0;
}
.prevCost {
  width: max-content;
  color: var(--gray);
  position: relative;
}
.prevCost::before {
  width: 100%;
  content: '';
  height: 2px;
  background: var(--gray);
  position: absolute;
  top: 15px;
  left: 0;
  transform: rotate(20deg);
}

.cardsBtn {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border: 3px solid var(--primary-100);
  border-radius: 0 0 20px 20px;
}

.button {
  display: block;
  cursor: pointer;
  width: max-content;
  color: var(--white);
  border: none;
  background-color: var(--primary-100);
  padding: 16px 32px;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 32px;
  @include _992 {
    margin: 0 auto;
    margin-top: 32px;
  }
}
