@import 'theme/media.scss';

.wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--primary-20);
  @include _1140 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @include _992 {
    flex-direction: column;
  }
  @include _600 {
    width: 100%;
    background-color: none;
  }
}

.article {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  position: relative;
  padding: 90px 32px;
  @include _992 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include _600 {
    width: 343px;
  }
}
.articleBanner {
  position: relative;
}

.articleBannerDescription {
  position: absolute;
  width: 400px;
  padding: 16px;
  background: #fff;
  top: -40px;
  left: 0;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  @include _600 {
    width: 300px;
  }
}
.articleImg {
  position: relative;
  width: 600px;
  height: 350px;
  overflow: hidden;
  border-radius: 25px;
  filter: brightness(55%);
  @include _1140 {
    width: 450px;
    height: 250px;
  }
  @include _600 {
    width: 350px;
    height: 200px;
  }
}
.articleText {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 90px;
  @include _1140 {
    padding-left: 50px;
  }
  @include _992 {
    padding-top: 32px;
    padding-left: 0;
    margin: 0 auto;
    align-items: center;
  }
}
.articleTitle {
  width: 500px;
  @include _1440 {
    width: 100%;
  }
  @include _992 {
    width: 375px;
  }
  @include _600 {
    width: 350px;
    text-align: center;
    margin-top: 32px;
  }
}
.articleBtn {
  width: 210px;
  height: auto;
  background-color: var(--white);
  padding: 15px 15px;
  border-radius: 20px;
  border: 3px dashed var(--primary-100);
  position: relative;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-top: 32px;
}
.articleBtnImg {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -21px;
  right: 7px;
}
.btnDescription {
  width: max-content;
  margin: 0 auto;
}
.promoCode {
  width: min-content;
  padding: 2px 3px;
  border-radius: 5px;
  background-color: var(--primary-100);
  margin: 0 auto;
  margin-top: 5px;
}
