@import 'theme/media.scss';

.wrap {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  @include _600 {
    padding: 32px 0;
  }
}

.headTitle {
  margin-bottom: 16px;
}

.headDescription {
  width: 650px;
  text-align: center;
  margin-bottom: 8px;
  p {
    line-height: 28px;
  }
  @include _1140 {
    text-align: center;
  }

  @include _768 {
    width: 80%;
  }
  @include _600 {
    width: 90%;
  }
}

.card {
  min-width: 260px;
  width: 260px;
  height: 320px;
  margin: 0 15px;
  position: relative;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  direction: ltr !important;

  @include _600 {
    min-width: 150px;
    width: 150px;
    height: 220px;
  }
}

.cardGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 15px 0;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include _992 {
    overflow-x: auto;
  }
}

.cardImage {
  width: 260px;
  height: 320px;
  position: absolute;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.3s;

  img {
    object-fit: cover;
  }

  @include _600 {
    width: 150px;
    height: 220px;
  }
}

.cardTitle {
  width: 100%;
  position: absolute;
  bottom: 90px;
  z-index: 3;
  opacity: 0;
  text-align: center;
  transition: ease-in-out 0.3s;
}

.cardDescription {
  position: absolute;
  padding: 0 10px;
  bottom: 60px;
  z-index: 3;
  opacity: 0;
  text-align: center;
  transition: ease-in-out 0.3s;
}

.card {
  &:hover {
    height: 290px;
    box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 15px 15px;
  }

  &:hover .cardTitle {
    opacity: 1;
    bottom: 55px;
  }

  &:hover .cardDescription {
    opacity: 1;
    bottom: 20px;
  }

  &:hover .cardImage {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin-left: 60px;
    margin-top: 25px;
  }

  @include _600 {
    &:hover {
      height: 220px;
      box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.3);
      border-radius: 0 0 15px 15px;
    }

    &:hover .cardTitle {
      opacity: 1;
      bottom: 75px;
      color: var(--white);
    }

    &:hover .cardDescription {
      padding: 0 5px;
      opacity: 1;
      bottom: 10px;
      color: var(--white);
    }

    &:hover .cardImage {
      width: 150px;
      height: 220px;
      border-radius: 15px;
      margin-left: 0px;
      margin-top: 0px;
      filter: brightness(50%);
    }
  }
}

.cardButton {
  cursor: pointer;
  width: max-content;
  color: var(--white);
  border: none;
  background-color: var(--primary-100);
  padding: 16px 32px;
  border-radius: 30px;
  margin-top: 21px;
  a {
    color: var(--white);
  }
}
