@import 'theme/media.scss';

.wrap {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: var(--main-page-background);
}
.article {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  @include _1140 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
  }
  @include _992 {
    flex-direction: column-reverse;
  }
  @include _600 {
    width: 100%;
    background-color: var(--main-page-background);
  }
}
.group {
  width: auto;
  height: 100%;
  position: relative;
}
.groupImages {
  width: 735px;
  height: 720px;
  position: relative;
  overflow: hidden;
  @include _1440 {
    width: 630px;
    height: 630px;
  }
  @include _992 {
    width: 630px;
    height: 650px;
  }
  @include _768 {
    width: 600px;
    height: 630px;
  }
  @include _600 {
    width: 375px;
    height: 420px;
  }
}

.imageTv {
  width: 735px;
  height: 520px;
  top: 50px;
  left: 0px;
  position: absolute;
  z-index: 1;
  @include _1440 {
    width: 600px;
    height: 430px;
    top: 20px;
    left: 0px;
  }
  @include _992 {
    width: 630px;
    height: 440px;
    top: 20px;
    left: 0px;
  }
  @include _768 {
    width: 600px;
    height: 430px;
    top: 20px;
    left: 0px;
  }
  @include _600 {
    width: 360px;
    height: 240px;
    top: 50px;
    left: 0;
  }
}

.imageLaptop {
  width: 735px;
  height: 330px;
  top: 330px;
  left: 0px;
  position: absolute;
  z-index: 2;
  @include _1440 {
    width: 630px;
    height: 270px;
    top: 250px;
    left: 0px;
  }
  @include _992 {
    width: 630px;
    height: 270px;
    top: 250px;
    left: 0px;
  }
  @include _768 {
    width: 600px;
    height: 280px;
    top: 250px;
    left: 0px;
  }
  @include _600 {
    width: 360px;
    height: 160px;
    top: 180px;
    left: 0px;
  }
}

.imagePhone {
  width: 260px;
  height: 132px;
  top: 530px;
  left: 0px;
  position: absolute;
  z-index: 3;
  @include _1440 {
    width: 220px;
    height: 110px;
    top: 420px;
    left: 20px;
  }
  @include _992 {
    width: 220px;
    height: 110px;
    top: 420px;
    left: 0px;
  }
  @include _768 {
    width: 200px;
    height: 100px;
    top: 440px;
    left: 80px;
  }
  @include _600 {
    width: 160px;
    height: 80px;
    top: 260px;
    left: 0px;
  }
}

.groupDownloads {
  width: auto;
  height: auto;
  left: 300px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 4;
  @include _1440 {
    left: 200px;
    bottom: 40px;
  }
  @include _1140 {
    left: 180px;
    bottom: 40px;
  }
  @include _992 {
    left: 25%;
    bottom: 20px;
  }
  @include _600 {
    left: 7%;
    bottom: 0px;
  }
}

.downloadBtn {
  cursor: pointer;
  margin: 0 5px;
}

.articleText {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 50px;
  @include _992 {
    padding-left: 0px;
    padding: 0 32px;
  }
  @include _600 {
    width: 343px;
    padding-left: 0px;
    padding: 0;
  }
}

.articleTitle {
  width: 60%;
  margin-bottom: 32px;
  @include _1440 {
    text-align: left;
    margin-bottom: 32px;
  }
  @include _1140 {
    width: 100%;
    text-align: left;
    margin-bottom: 32px;
  }
  @include _600 {
    padding: 20px 0;
    margin-bottom: 12px;
  }
}

.icon {
  width: 32px;
  height: 32px;
  flex: 0 0 auto;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  background: rgba(98, 202, 187, 0.2);
  background-size: 14px 10px;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  p {
    font-family: 'AvenirRegular';
    font-weight: 300;
    line-height: 32px;
  }
}

.button {
  display: block;
  cursor: pointer;
  width: max-content;
  color: var(--white);
  border: none;
  background-color: var(--primary-100);
  padding: 16px 32px;
  border-radius: 30px;
  margin-top: 36px;
  @include _992 {
    margin: 0 auto;
  }
}
