@import 'theme/media.scss';

.wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include _1140 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @include _992 {
    flex-direction: column;
  }
  @include _600 {
    width: 100%;
  }
}

.article {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  position: relative;
  padding: 90px 0;
  @include _992 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: 50px;
  }
  @include _600 {
    width: 343px;
  }
}
.articleTitle {
  width: 610px;
  @include _1440 {
    padding-left: 32px;
  }
  @include _768 {
    width: 550px;
    text-align: center;
  }
  @include _600 {
    width: 350px;
    text-align: center;
  }
}
.articleCards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  @include _1440 {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 60px -15px rgba(0, 0, 0, 0.3);
  @include _1440 {
    margin: 20px 0;
  }
}
.cardsImg {
  width: 350px;
  height: 165px;
  position: relative;
}
.cardsDescription {
  width: 250px;
  text-align: center;
  padding: 30px 0;
}
.button {
  display: block;
  cursor: pointer;
  width: max-content;
  color: var(--white);
  border: none;
  background-color: var(--primary-100);
  padding: 16px 32px;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 32px;
  @include _992 {
    margin: 0 auto;
    margin-top: 32px;
  }
}
