@import 'theme/media.scss';

.wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include _1140 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
  }
  @include _992 {
    flex-direction: column;
  }
  @include _600 {
    width: 100%;
  }
}

.article {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: 150px;
  @include _1440 {
    margin-left: 32px;
  }
  @include _992 {
    margin-left: 0;
  }
  @include _600 {
    width: 343px;
    margin-left: 0px;
  }
}
.mr {
  margin: 0 10px;
  @include _1140 {
    margin: 0;
  }
  @include _992 {
    margin: 0 10px;
  }
}
.articleTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  text-align: left;
  margin-bottom: 40px;
  @include _1440 {
    text-align: left;
    margin-bottom: 40px;
  }
  @include _1140 {
    width: 50%;
    text-align: left;
    margin-bottom: 20px;
  }
  @include _600 {
    width: 100%;
  }
}
.articleTitleText {
  margin-bottom: 15px;
}
.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.button {
  display: block;
  cursor: pointer;
  width: max-content;
  color: var(--white);
  border: none;
  background-color: var(--primary-100);
  padding: 16px 32px;
  border-radius: 30px;
  margin-top: 32px;
  @include _992 {
    margin: 0 auto;
    margin-top: 32px;
  }
}
