@import 'theme/media.scss';

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.wrapTitle {
  text-align: center;
}
.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  @include _1140 {
    justify-content: center;
    margin: 20px;
  }
  @include _600 {
    margin: 0px;
  }
}

.card {
  width: 350px;
  min-height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0px 0px 60px -5px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 16px;
  padding: 24px 0;
  @include _600 {
    width: 343px;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
  }
}

.cardTitle {
  width: 100%;
  text-align: left;
  margin: 30px 0 25px 0;
  padding: 0 80px 0 24px;
}
.cardTitleRelax {
  padding: 0 55px;
}

.projectImage {
  position: relative;
  width: 140px;
  height: 60px;
  margin-bottom: 28px;
}

.cardImage {
  width: 280px;
  height: 400px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  @include _600 {
    width: 280px;
    height: 400px;
  }
}
.cardButton {
  cursor: pointer;
  width: 302px;
  text-align: center;
  border: none;
  color: var(--white);
  background-color: var(--primary-100);
  padding: 16px 32px;
  border-radius: 30px;
  margin-top: auto;
  a {
    color: var(--white);
  }
}
// .cardBtn {
//   cursor: pointer;
//   color: var(--white);
//   padding: 16px 125px;
//   border-radius: 25px;
//   position: absolute;
//   bottom: 25px;
//   z-index: 3;
//   @include _600 {
//     padding: 16px 100px;
//     bottom: 15px;
//   }
// }

.relax {
  background: #567df4;
}

.mama {
  background: var(--mama-primary);
}

.yoga {
  background: var(--primary-100);
}
