@import 'theme/media.scss';

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.gradient {
  height: 30vh;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 30%);
  transform: rotate(-0deg);
  background-color: var(--main-page-gradient);

  @include _600 {
    height: 0vh;
  }
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  position: relative;
  width: 100%;
  height: 76vh;
  filter: brightness(50%);
  margin-top: -1px;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img {
    object-fit: cover;
  }

  @include _600 {
    height: 100vh;
    background: url('/images/main-page/banner-mobile.webp') no-repeat;
    background-size: cover;
    filter: brightness(90%);
  }
}

.headTitle {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  @include _768 {
    width: 80%;
  }

  @include _600 {
    width: 80%;
  }
}

.description {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: var(--white);
  @include _600 {
    margin-top: 15px;
  }
}
.underDescription {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 13px;
  text-align: center;
  color: var(--white);

  @include _600 {
    margin-top: 15px;
  }
}

.price {
  font-size: 28px;
  padding: 0 5px;
}

.bannerSalesBtn {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 20px;
  border: none;
  background: none;
}

.freeBtn {
  cursor: pointer;
  color: var(--white);
  background-color: var(--primary-100);
  padding: 20px 40px;
  border-radius: 30px;
  margin: 15px 0;
  border: none;
}

.giftBtn {
  cursor: pointer;
  color: var(--white);
  max-width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid var(--primary-100);
}
