@import 'theme/media.scss';

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 100px;
}

.headTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.descriptionInfo {
  color: var(--main-page-under);
  text-align: center;
}

.groupLessons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 80px;
}

.lessonItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 154px;
  height: 154px;
  border-radius: 100%;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  margin: 0 25px;
  text-align: center;
  overflow: hidden;

  .lessonName {
    font-size: 16px !important;
  }

  @include _600 {
    width: 120px;
    height: 120px;
    margin: 0 15px;

    .lessonName {
      font-size: 14px !important;
    }
  }
}

.active {
  width: 232px;
  height: 232px;

  .lessonName {
    font-size: 24px !important;
  }

  @include _600 {
    width: 160px;
    height: 160px;

    .lessonName {
      font-size: 20px !important;
    }
  }
}
